.play-scene {
  position: relative;
  border-radius: 20px;
  width: 459px;
  height: 500px;
  background: #e1b9fd;
}
.player {
  position: absolute;
  top: 0px;
  left: 0;
  width: 70px;
  height: 80px;

  transition: .5s transform;
  transform: translate3d(0,0,0);
}
