.play-scene {
  position: relative;
  border-radius: 20px;
  width: 459px;
  height: 500px;
  background: #FFCCFF;
}
.player {
  position: absolute;
  top: 170px;
  left: 0;
  width: 90px;
  height: 100px;

  transition: .5s transform;
  transform: translate3d(0,0,0);
}
