.play-scene {
  position: relative;
  border-radius: 20px;
  width: 425px;
  height: 500px;
  background: #e1b9fd;
}
.player {
  position: absolute;
  top: 0px;
  left: 0;
  width: 70px;
  height: 80px;

  transition: .5s transform;
  transform: translate3d(0,0,0);
}

.moving-button.moving-right.current-move {
  background-color: #97E1E8;
  border-bottom: 4px solid #74B7B4;
}
