/* CSS declarations go here */
body {
  font-family: 'Ruda', sans-serif;
  background-attachment: fixed;
  text-align:center;


  font-size: 15px;
}
.s-alert-info.s-alert-effect-scale {
    background: pink;  /* your background color here */
    color: white;  /* your text color here */
}
#FirstPanel {

  border-radius: 20px;
  height: 500px;
  background-color: #fdb9f7;
}

#SecondPanel {

  height: 500px;
  border-radius: 20px ;
  background-color: #c3f4ff;
}

#SecondPanel ul {
  background-color: transparent;
}
#SecondPanel ul li {
  border-bottom: 1px solid #1D79AF;
}

.droppable-part {

	box-sizing: border-box;
	border-color: black;
	width: 95%;
	height: 80%;
	background: transparent;
  text-align: center;

}
.draggable-item {

    text-align: center;
	border-radius: 40%;
	text-align: center;
	display: block;
	vertical-align: middle;
}

.dropped-item {

}

.items input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 70%;
  padding-right: 80px;
  font-size: 2em;
  display: block;
  background-color:white;
  box-shadow:3px 3px 3px 1px #e1b9fd;
  margin: 0 auto;
  text-align: center;
}

.move-item {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 40%;
  font-size: 1em;
  display: block;
  background-color:#feeeff;
  box-shadow:3px 3px 3px 1px #e1b9fd;
  margin: 0 auto;
  z-index:999;
  margin-top: 10px;

}

.move-item.current-move {
  background: #99e6ff;

}

.items text {
  width: auto;
  text-align: center;
  font-family: 'Noto Serif', serif;
  transition: .5s all;
}

.items .deneme {
	background: green;
}

.items input:hover {
  background-color: #DDD;
}

.items input:active {
  box-shadow: none;
}


#footer {
    padding-top:  15px;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
	height: 100px;
    background: #eee;
    margin-top: 540px;
    position: relative;
}

.new-task input:focus{
  outline: 0;
}

.run-game-btn {
  width:20%;
  background-color: rgb(220, 247, 255);
  box-shadow: 1px 1px 1px black;
  font-size: 17px;
}

.moving-button{
  text-align: center;
  z-index: 123;
  margin: 13px auto;
  padding: 10px 0px;
  display: block;
  height: 45px;
  width: 175px;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  border-radius: 10px;
  border-bottom: 4px solid #E0BAFD;
  box-shadow: 6px 6px 6px #CBBCDE;
  user-select: none;
  background: #feeeff;
  transition: background 0.05s linear;
  background-size: 1px 200px;
  transition: all .05s linear;
}

.moving-button:hover{
	background-position:100px;
}

.moving-button:active {
	box-shadow: 2px 2px 2px #777;
	border-bottom:1px solid #0045A6;
	transform: translateY(3px);
}

.ul-type {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: #FFb3e5;
  font-size: 1em;
  border: none;
  position: relative;
  margin-right: 5px;
  margin-top: -3px;
}

.ul-type li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

.ul-type li .text {
  margin-left: 10px;
}

.ul-type li.checked {
  color: #888;
}

.ul-type li.checked .text {
  text-decoration: line-through;
}

.ul-type li.private {
  background: #eee;
  border-color: #ddd;
}

.btn-start-stop {
  margin-right: 170px;
	display: inline-block;
}
div .navbar img {
    margin: 1px;
    border: 1px solid #ccc;
    float: right;
    width: relative;
	height:50px;

}
