/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic&subset=latin,latin-ext);
body {
  font-family: sans-serif;
  background-attachment: fixed;
  text-align:center;


  font-family: 'Noto Serif', serif;
  font-size: 14px;
}


#FirstPanel {


	border-radius: 20px;

	height: 500px;
  background-color: #FFE5FF;


}
#image-left img{
  width:100%;
}
#SecondPanel {



  overflow:scroll;

	height: 500px;
	border-radius: 20px ;
  background-color: #C5EFF7;
}

#SecondPanel ul {
  background-color: transparent;
}
#SecondPanel ul li {
  border-bottom: 1px solid #1D79AF;
}


.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  display: block;
  background-color:white;
  box-shadow:0px 0px 3px 1px #DC6CDC;
  margin: 0 auto;
  text-align: center;
  width: 20%;
  padding-left: 33px;
  font-family: 'Noto Serif', serif;
  transition: .5s all;
}

.new-task input:hover {
  background-color: #DDD;
}

.new-task input:active {
  box-shadow: none;
}

#footer {
    padding-top:  15px;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
	  height: 100px;
    background: #eee;
    margin-top: 540px;
  position: relative;
}

.new-task input:focus{
  outline: 0;
}

.ul-type {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.ul-type li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

.ul-type li .text {
  margin-left: 10px;
}

.ul-type li.checked {
  color: #888;
}

.ul-type li.checked .text {
  text-decoration: line-through;
}

.ul-type li.private {
  background: #eee;
  border-color: #ddd;
}
