<template name="game">
	<div class="col-xs-4" id="image-left">
    
		{{> PlayScene }}
		<button class="btn-start-stop  run-game-btn">{{startButtonText}}</button>
		<div class="container">
 
  <div class="panel panel-default">
    <div class="panel-body"><img src="img/elsa_face.png" alt="Elsa face" style="float:left;width:60px;height:60px;margin: -11px;"><h4 style = "color:rgb(231, 30, 233);">
Hello I am Elsa, Can you help me to reach the diamond? 
</h4>
  </div>
  </div>
		</div>
	</div>
	<div id="FirstPanel" class="col-xs-4">
	<div id = "target">
     <a href = "#" class= "target"> <h1> Blocks </h1></a>	
		
		<div class="items">
			{{#each moveTypes }}
				{{> moveTypeItem }}
			{{/each}}
		</div>
</div>
	</div>
	<div id="SecondPanel" class="col-xs-4 droppable">
	<div id = "workspace">
	 <a href = "#" class= "target"> <h1> Workspace </h1></a>	
		
		<div class="sortable">
      {{#each moves}}
        {{> moveItem}}
      {{/each}}
		</div>
	</div>
	</div>
	<div id="footer">
		<p> CS 401 Project </p>
		<p> Team: Sena Kaya, Ezgi Özdil, Elif Doğalı </p>
	</div>
</template>

<template name="allMoves">
	<table class="table">
		<thead>
			<tr>
				<th>moveLabel</th>
				<th>index</th>
			</tr>
		</thead>
		<tbody>
			{{#each moves}}
				<tr>
					<td>{{label}}</td>
					<td>{{index}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>


<template name="moveTypeItem">
	<div data-label="{{label}}" id="action_{{_id}}" data-id="{{_id}}" class="moving-button draggable-item"><span>{{label}}</span></div>
</template>

<template name="moveItem">
	<div data-id="{{_id}}" class="moving-button moving-right {{maybeCurrentMove}}">
		<button class="delete"><i class="fa fa-remove"></i></button>
		<span class="text">{{label}}</span>
	</div>
</template>

<body>
	{{> sAlert}}
	<title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
