<template name="game">
	<div class="col-xs-4" id="image-left">
		{{> PlayScene }}
		<button class="btn-start-stop  run-game-btn">{{startButtonText}}</button>
	</div>
	<div id="FirstPanel" class="col-xs-4">
		<h1> Blocks </h1>
		<div class="items">
			{{#each moveTypes }}
				{{> moveTypeItem }}
			{{/each}}
		</div>

	</div>
	<div id="SecondPanel" class="col-xs-4 droppable">
		<h1>Workspace</h1>
		<div class="sortable">
      {{#each moves}}
        {{> moveItem}}
      {{/each}}
		</div>
	</div>
	<div id="footer">
		<p> CS 401 Project </p>
		<p> Team: Sena Kaya, Ezgi Özdil, Elif Doğalı </p>
	</div>
</template>

<template name="allMoves">
	<table class="table">
		<thead>
			<tr>
				<th>moveLabel</th>
				<th>index</th>
			</tr>
		</thead>
		<tbody>
			{{#each moves}}
				<tr>
					<td>{{label}}</td>
					<td>{{index}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>


<template name="moveTypeItem">
	<div data-label="{{label}}" data-id="{{_id}}" class="moving-button draggable-item"><span>{{label}}</span></div>
</template>

<template name="moveItem">
	<div data-id="{{_id}}" class="moving-button moving-right {{maybeCurrentMove}}">
		<button class="delete"><i class="fa fa-remove"></i></button>
		<span class="text">{{label}}</span>
	</div>
</template>

<body>
	{{> sAlert}}
</body>
