<template name="homepage">
      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="img/f4jkh28d-1373468856.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Teaching</h2>
            <p>
In different times and different places, we have taught our children to grow vegetables, build a house, forge a sword or blow a delicate glass, bake bread, create a soufflé, write a story or shoot hoops.

Now we are teaching them to code.
We are teaching coding to help our kids craft their future.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="img/teaching.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Learning</h2>
            <p>Whether this is your first time coding, or you have tried it before - our courses guide you each step of the way. Scripted by educators, we offer practical coding skills to help you learn at your own pace.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="img/elsa.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Creating</h2>
            <p>Create stunning new technology.
Very soon, our phones will become glasses and our cars will drive themselves. Every day technology is invented to entertain us and improve our lives.
It's the coders that lead this technology revolution.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Learning to code is fun and easy with <span class="text-muted">Coder Kids.</span></h2>

          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="img/kidsthatcodelarge.png" alt="Generic placeholder image">
          </div>
        </div>

        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>

      </div>


</template>
